body{
    list-style-type: none;
    width: 1440px;
    background-color: hsl(212, 45%, 89%);
}

.banner{
    position: relative;
    display: block;
    width: 300px;
    height: 500px;
    background-color: hwb(0 100% 0%);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
}

img{
    width: 90%;
    margin: 15px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.text{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-family: Outfit;
    margin-top: 0;
    font-size: 20px;
    font-weight: 700;
}

p{
    font-family: Outfit;
    font-size: 15px;
    font-weight: 400;
    color: hsl(212, 45%, 60%);
}